/* CSS file for recipes in recipe folder */

img {
    vertical-align: left;
    width: 300px;
    height: auto;
}

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.description {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ingredients {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.steps {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p {
    font-family: 'Arial Narrow Bold', sans-serif;
}

li{
    font-family: 'Arial Narrow Bold', sans-serif;
    list-style: none;
}

a {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}