/* CSS file for index.html */

* {
    vertical-align: middle;
}

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
li {
    font-family: 'Arial Narrow Bold', sans-serif;
    list-style: none;
}