/* CSS file for index.html */

body {
    margin: 50px;
    font-family: Geist, Satoshi, sans-serif;
}

h1 {
    font-family: Geist, Satoshi, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-flex;
}

li {
    font-family: Geist, Satoshi, sans-serif;
    margin: 20px;
    list-style: none;
}